@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@600&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    background-color:rgb(194, 177, 177);
    padding: 50px 240px;
}
.game-logo{
    display: flex;
    align-items: center;
}
.game-logo img{
    width: 86.041px;
     height: 40px;
    gap: 20px;
}
.gamer-name{
font-size: 2.8rem;
font-weight: 700;
}
.game-g{
    color: #FF42A5;
}
.logo-contaier{
    display:flex;
    justify-content: space-between;
align-items: center;
}
.logo-contaier > ul{
    display: flex;
}
.logo-contaier li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
.logo-contaier li a{
    text-decoration: none;
    color: #3C354F;;
}
.fa-youtube{
    color: red;
}

.youtube-logo{
    border: 1px solid black;
  border-radius: 8px;
background: rgba(198, 194, 207, 0.1);
width: 190px;
height: 30px;
    gap: 10px;
    padding: 5px;
}