@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@600&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    background-color:#fff;
    padding: 50px 240px;
}
.game-logo{
    display: flex;
    align-items: center;
}
.game-logo img{
    width: 86.041px;
     height: 40px;
    gap: 20px;
}
.gamer-name{
font-size: 2.8rem;
font-weight: 700;
}
.game-g{
    color: #FF42A5;
}
.logo-contaier{
    display:flex;
    justify-content: space-between;
align-items: center;
}
.logo-contaier > ul{
    display: flex;
}
.logo-contaier li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
.logo-contaier li a{
    text-decoration: none;
    color: #3C354F;;
}
.fa-youtube{
    color: red;
}

.youtube-logo{
    border: 1px solid black;
  border-radius: 8px;
background: rgba(89, 88, 90, 0.1);
width: 190px;
height: 30px;
    gap: 10px;
    padding: 5px;
}
.game-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.game-content{
    padding-right: 70px;
    padding-left: 70px;
}

.game-img{
    width: 40%;
    height: 40%;
    padding: 50px;
}
.game-title{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 500;
text-transform: uppercase;
}
.game-title-2{
    text-align: center;
font-size: 75px;
font-weight: 500;
text-transform: uppercase;

}
.title-2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.game-info{
    color: #534C64;
text-align: center;
font-size: 20px;
font-weight: 300;
}
.btn-primary{
    width: 100px;
    height: 50px;
border-radius: 60px;
color: #FFF;
background-color: #FF42A5;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
}
.btn{
    width: 200px;
    height: 50px;
border-radius: 60px;
color: #FFF;
background-color: slategrey;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;  
}
.card-container{
    display: flex;
    padding: 50px;
    justify-content: center;

}
.card{
    padding: 15px;
    margin-top: 10px;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
  .img-logo{
    position: relative;
    display: inline-block;
  }
  .play-button:hover {
    color: #dddddd;
  }
  .img-box:hover{
    background-color: #0f0f0f;
  }
  .another-main-container{
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20%;
  }
  .main-container{
    display: flex;
  }
  .main-img{
    height: 90%;
    margin-left: 160px;
  }
  .another-img{
    position: relative;
    bottom: 250px;
  }
.button-container{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 50px;
}
.button-img{
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-img:hover{
  border-radius: 8px;
  border: 1px solid gray;
  color: #F948B2;

}
.footer-container{
    background-color: #0B0223;
    width: 100%;
height: 500px;
}
.footer-name{
    color: #fff;
}
.footer-img{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.game-in{
    color: #FFF;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFF;
    font-size: 25px;
    gap: 20px;
}
.footer-p{
    color: #685b5b;
    font-size: 16px;
}



/* responsive midea queries */
/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .footer-icon,
    .footer-logo,
    .footer-img,
    .button-container,
    .main-container,
    .card-container,
    .logo-contaier{
        flex-direction: column;
    }
    .logo-contaier > ul{
        flex-direction: column;
    }
    .game-container{
        flex-direction: column;
    }
    .game-content{
        width: 100%;
      }
      .game-img{
        width: 90%;
      }
      .button-container{
        text-align: center;
        justify-content: center;
      }
      .button-container{
        width: 100%;
        margin: 20px;
      }
     
}
/* tablet or dediun devices */
@media screen and (min-width:576px) and (max-width:960) {
    header{
        padding: 60px;
    }

    .footer-icon,
    .footer-logo,
    .footer-img,
    .button-container,
    .main-container,
    .card-container,
  .logo-contaier{
    flex-direction: column;
  } 
  .card{
    width: 90%;
  }
  .game-container{
    flex-direction: column;
  } 
 
}